body {
    width: 100vw;
    height: auto;
    color: grey;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
}

.gif {
    width: 100vw;
    height: 100vh;
}

.gif-wrapper {
    width: 100vw;
    height: 100vh;

}

#gif {
    width: 110%;
    position: absolute;
    top: -50vh;
    z-index: 0;
    left: 50%; 
    top: 37%;
    transform: translate(-50%,-50%);
}

.text {
    width: 65vw;
    margin-top: -48vh;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    position: relative;
}

h4 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
}

.button {
    width: 100vw;
    text-align: center;
    margin-top: 2%;
}

.rect-button {
    padding: 10px 40px; /* Size of the button */
    color: black; /* Text color */
    background-color: white;
    border: 1px solid black; /* Remove default border */
    border-radius: 50px;
    font-size: 0.8em; /* Text size */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Center the text inside the button */
    text-decoration: none; /* Remove underline if using <a> tag */
    display: inline-block; /* Keep the button inline */
    z-index: 100;
    position: relative;
}

.footer {
    background-color: #DEDEDE;
    width: 100%;
    height: 72vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: auto;
    transition: top 0.3s ease;
}

.column {
    flex: 1; /* Equal width for both columns */
    box-sizing: border-box;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 10vh;
}

#logo {
    margin-top: 10vh;
    width: 7vw;
}

h5 {
    color: #4B4B4B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1em;
    margin-block-end: 0;
    text-transform: uppercase;
}

h6 {
    color: #4B4B4B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
}

h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.3em;
    text-transform: uppercase;
    margin-top: 10vh;
}

#form {
    margin-top: 4.5vh;
}

form input {
    width: 100%; /* Full width */
    padding: 0; /* Adjust padding for the height */
    margin-bottom: 40px; /* Space between inputs */
    border: none; /* Remove the default border */
    border-bottom: 1px solid grey; /* Add only the bottom border */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    border-radius: 0; /* Make the input square (no rounded corners) */
    font-size: 1em; /* Set font size */
    background-color: transparent; /* Transparent background for input */
    line-height: 1.8;
}

form input:focus {
    outline: none;
    width: 100%; /* Full width */
    padding: 0; /* Adjust padding for the height */
    margin-bottom: 40px; /* Space between inputs */
    border: none; /* Remove the default border */
    border-bottom: 1px solid grey; /* Add only the bottom border */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    border-radius: 0; /* Make the input square (no rounded corners) */
    font-size: 1em; /* Set font size */
    background-color: transparent; /* Transparent background for input */
    line-height: 1.8;
}

input:valid {
    background-color: transparent;
}

/* Style for inputs that are not filled (invalid) */
input:invalid {
    background-color: transparent;
}

form input::placeholder {
    color: #4B4B4B;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-block-start: 0;
    margin-block-end: 0;
    text-transform: uppercase;
}

.additional-text {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    position: relative;
}

button[type="submit"]{
    outline: none;
    background-color: transparent;
    border: none;
    float: right;
    margin-top: 1vh;
    height: 20px;
    width: auto;
}

button[type="submit"] img#arrow {
    outline: none;
    background-color: transparent;
    border: none;
    float: right;
    margin-top: 1vh;
    height: 20px;
    width: auto;
}

.thank_you {
    width: 100vw;
    height: 100vh;
}

.text_thanks {
    margin-top: 30vh;
    width: 65vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    position: relative;
    text-align: center;
}

h1 {
    font-size: 5em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 2vh;
}

.submit {
    margin-top: 0vh;
}

